.main {
    flex-grow: 1;
}

.dog_details {
    background-color: #333;
    color: white;
    margin: 16px;
    padding: 8px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.dog_characteristics {
    flex: 1 0 50%;
    margin: 8px;
    padding: 8px;
    font-size: 18px;
}

.dog_characteristics h3 {
    text-transform: uppercase;
    font-size: 20px;
    color: #FC9E4F;
    text-align: center;
}

.dog_characteristics span {
    color: #ecc758;
    font-weight: bold;
}

.dog_image {
    margin: 8px;
}

.dog_image img {
    width: 50%;
    height: auto;
    border-radius: 20px;
}

@media screen and (max-width: 900px) {
    .dog_details {
        display: flex;
        flex-direction: column;
    }

    .dog_image  {
        text-align: center;
    }
}

